<section class="comments-container">
  <h3>New comment</h3>
  <%= form_with model: @comment, url: user_post_comments_path(@post) do |form| %>
    <div>
      <%= form.text_field :text,
                      required: true,
                      placeholder: "Type your comment",
                      class: "form-input" %>
    </div>
    <%= form.submit "Post Comment", class: "form-button" %>
  <% end %>
</section>
