<section>
  <ul>
    <% @users.each do |user| %>
      <li>
        <div>
          <img src="<%= user.photo %>" alt="User Avatar">
        </div>

        <div>
          <a href="/users/<%= user.id %>">
            <h2><%= user.name %></h2>
            <p>Number of posts:
              <%= user.posts_counter || 0 %></p>
          </a>
        </div>
      </li>
    <% end %>
  </ul>
</section>
