<section>
  <div>
    <% @users.each do |user| %>
      <div class="user-container">
        <div class="avatar-container">
          <img class="avatar" src="<%= user.photo %>" alt="User Avatar">
        </div>

        <div class="user-name-posts">
          <a href="/users/<%= user.id %>">
            <h1 class="user-name"><%= user.name %></h1>
            <p class="posts-number">Number of posts:
              <%= user.posts_counter || 0 %></p>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</section>
